<!DOCTYPE html>
<html>
	<head>
		<title>Chatter</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class='container'>
			<h1>Login</h1>
			<br>
			<form action="" method="post">

				<label for="signature"><b>Signature</b></label>
				<input type="text" placeholder="Signature" name="signature" value="{{
				          request.form.signature }}">

				<label for="password"><b>Password</b></label>
				<input type="password" placeholder="Password" name="password" value="{{
				          request.form.password }}">

				<input class="btn-btn-default" type="submit", value="SignIn">
			</form>
			{% if error %}
				<p class="error"><strong>Error :</strong> {{ error }}
			{% endif%}
		</div>
	</body>
</html>
			

